/*---------------
 google fonts
-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #E5E5E5;
}

:root {

    --faq_description-color: #7E848C;
    --faq-title-color: #383838;
    --section-title-color: #0A0826;
    --description-color: #6C6C6C;
    --btn-primary: #3F87F5;
    --primary-fonts: 'Poppins', sans-serif;
    --secondary-fonts: 'Poppins', sans-serif;
    --tertiary-fonts: 'Roboto', sans-serif;

}

.btn__primary {
    background-color: var(--btn-primary);
    padding: 10px 24px;

}

.section__title {
    font-family: var(--primary-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: var(--section-title-color);
}

.description__styles {
    font-family: var(--primary-fonts);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--description-color);
}

/* navbar css start here  */
.navbar-brand {
    font-family: var(--primary-fonts);
    font-size: 22px;
    line-height: 33px;
    font-feature-settings: 'liga' off;
    color: #3E3E3E;

}

.navbar .navbar-nav a {
    font-family: var(--primary-fonts);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3E3E3E;
}